* {
    box-sizing: border-box;
  }
  
  body {
    min-width: 1000px;
    min-height: 1500px;
    font-family: "Helvetica";
    margin-top:0;
    margin-bottom:0;
    margin-left:0;
    margin-right:0;
  }
  .navbar_top{
    height: 100px;
    background-color: #F79999;
    border: 1px solid #F79999;
    
  }
  
  .navbar_top p{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
  }
  
  .navbar{
    height: 60px;
    padding-left: 30px;
    border: 1px solid #F9C4C4;
    background-color: #F9C4C4;
  }
  
  .logo{
    line-height: 60px;
    float: left;
  }
  
  .logo img{
    vertical-align: middle;
  }
  
  .navbar ul{
    float: right;
  }
  
  .navbar li{
    list-style-type: none;
    float: left;
    margin-right: 30px;
  }
  
  .navbar a{
    text-decoration: none;
    color: black;
    font-style: bold;
    font-size: 13px;
  }

  .output_img{
    float:left;
    background-Color:#FFFFF2;
    width:700px;
    height:300px;
    margin-top:80px;
    margin-left:50px;
  }

  .option_select{
    float:right;
    background-Color:#FFFFF2;
    width:700px;
    height:300px;
    margin-right:100px;
    margin-top:80px;
  }

  .form-select{
    width:300px;
    height:50px;
    line-height:50px;
    text-align:center;
    margin-left:200px;
    margin-top:50px;
  }

  .buttons{
    float:left;
    width:100%;
    height:225px;
    background-Color:#FFFFF2;
  }

  #button-addon2{
    width:100px;
    height: 50px;
  } 


  .button1{
    width:250px;
    height:100px;
    margin-left:400px;
    margin-top:60px;
  }

  .input-group{
    width:100%;
    height:700px;
    background-color: aliceblue;
  }

  .form-control{
    width:500px;
    height:50px;
    background-Color:#F2FFFF;
    margin-left: 550px;
    margin-top:400px;
  }

  .reviews{
    margin-left: 550px;

  }

