<!DOCTYPE html>
<html>
  <head>
    <title>SimpleShop</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/main.css" />
    
  </head>

  <body>
    <div class="navbar_top">
      <p>
        텔레토비 인쇄소
      </p>
    </div>
    <div class="navbar">
      <a class="logo" href="#">
        <img src="images/logo.png" height="20px">
      </a>
      <ul>
        <li><a href="#">Mypage</a></li>
        <li><a href="#">Home</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
    
    <div class="hero_header">
      <p>
        asdklaskdladk
      </p>
    </div>
    <h1>Example Filter</h1>
    <div class="products">
      <div class="filter" onclick="GotoOptionPage()">
        <img src="../images/test1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </div>  
      <div class="filter" onclick="GotoOptionPage()">
        <img src="../images/test1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </div>  
      <div class="filter" onclick="GotoOptionPage()">
        <img src="../images/test1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </div>  
      <div class="filter" onclick="GotoOptionPage()">
        <img src="../images/test1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </div>  
      <div class="filter" onclick="GotoOptionPage()">
        <img src="../images/test1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </div>  
      <div class="filter" onclick="GotoOptionPage()">
        <img src="../images/test1.jpg">
        <p>Sunglasses</p>
        <p class="price">49,000</p>
      </div>  
    </div>
    <script src="../js/main.js"></script>


  </body>

  
</html>


