<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>signup</title>
    <script src="../js/api.js"></script>
</head>
<body>
    <h1>회원가입 페이지</h1>
    <form>
        
        <input type="text" name="username" id="username" placeholder="username">
        <input type="email" name="email" id="email" placeholder="email">
        <input type="phone_number" name="phone_number" id="phone_number" placeholder="phone_number">
        <input type="address" name="address" id="address" placeholder="address">
        <input type="password" name="password" id="password" placeholder="password">
        <input type="password" name="passwordcheck" id="passwordcheck" placeholder="passwordcheck">
        
        <button type="button" onclick="handleSignin()">제출</button>

    </form>
</body>
</html>